*.Rproj
.Rproj.user
.Rhistory
.RData
Rplot.pdf
differences_G12C_G12V_IC50.pdf
._LUAD.exome.cleaned.maf.txt
mutations_LUAD.RData
KRAS_LUAD.RData
MUT_TYPE_LUAD.RData
probe.gct
._*.*
*.txt
*.xls
*.xlsx
*.rda
*.RData
*.pdf
*.gct

