._CCLE_drugs.txt
._CCLE_drugs.xls
._Sanger_drugs.txt
._Sanger_drugs.xlsx
CCLE_drugs.txt
CCLE_drugs.xls
Sanger_drugs.txt
Sanger_drugs.xlsx
._*.txt
._*.xls
._*.xlsx
._*.rda
._*.RData
._*.pdf
._*.gct
*.txt
*.xls
*.xlsx
*.rda
*.RData
*.pdf
*.gct

